body {
    font-family: var(--font-family);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1.5rem;

    /* Tablet */
    @media (min-width: 426px) {
        margin: 2rem;
    }

    /* Laptop */
    @media (min-width: 769px) {
        margin: 5rem;
    }
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
}

h1 {
    /* Tablet */
    @media (min-width: 426px) {
        font-size: 4em;
        line-height: 60px;
        max-width: 30rem;
    }

    /* Laptop */
    @media (min-width: 769px) {
        font-size: 6em;
        line-height: 90px;
        max-width: 36rem;
    }
}

h2 {
     /* Tablet */
     @media (min-width: 426px) {
        font-size: 2em;
        line-height: 30px;
        max-width: 24rem; 
    }

    /* Laptop */
    @media (min-width: 769px) {
        font-size: 3em;
        line-height: 50px;
        max-width: 30rem;
    }
}


/* MAIN */

/* SLIDER */

.slider-wrapper {
    position: relative;
}

.slider {
    display: flex;
    gap: 8px;
    padding: 16px;

    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* Takes care of when scrolling and you let go, the scroll will automaticly move to get the moost nearby element in full screen */

    scrollbar-width: none;
    /* Hide scrollbar in Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar in IE and Edge */
}

.slider::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in webkit */
}

.item {
    position: relative;
    flex-shrink: 0;
    /* Takes care of the item to not shrink to fit more elements */
    width: 80vw;
    /* vh stands for viewport width, it's based on the width of the viewport (viewport is the size of the screen. 1vh stands for 1% and 100vh stands for 100% */
    height: 50vh;
    /* vh stands for viewport height, it's based on the height of the viewport (viewport is the size of the screen. 1vh stands for 1% and 100vh stands for 100% */

    background-color: #aed328;

    scroll-snap-align: center;
    overflow: hidden;
    /* everything outside the given with and height will not be hidden */

    /* Laptop */
    @media (min-width: 769px) {
        width: 60vw;
        height: 50vh;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        width: 60vw;
        height: 80vh;
    }
}

/* SLIDER INFO DETAILS */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider-img {
    object-fit: cover;
    height: 100%;
    width: 80vw;
    height: 50vh;

    /* Laptop */
    @media (min-width: 769px) {
        width: 60vw;
        height: 50vh;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        width: 60vw;
        height: 80vh;
    }
}

.slider-elements {
    position: absolute;
    bottom: 20%;
    left: 5%;
    
    /* FLEX / GRID */
    display: flex;
    flex-direction: column;
}

/* Grid elements */
h3 {
    margin-bottom: 0px;
   align-self: flex-start;
   color: var(--secundaire-text-color);
}

.imgRoute {
    display: none;
}

dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 11.9rem;
    color: var(--secundaire-text-color);
}

.slide-number {
    position: absolute;
    bottom: 5%;
    text-align: middle;
    color: var(--secundaire-text-color);
}

dd {
    margin-left: 6px;
    margin-right: 16px;
}


/* SLIDER BUTTONS */

.button {
    position: absolute;
    bottom: 10%;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5px;

    /* Laptop L */
    @media (min-width: 1025px) {
        width: 4.5rem;
        height: 4.5rem;
    }
}

.button--previous {
    left: 1.5rem;
    transform: rotate(180deg);

    /* Tablet */
    @media (min-width: 426px) {
        left: 4rem;
    }

    /* Laptop */
    @media (min-width: 769px) {
        left: 12rem;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        left: 14rem;
    }
}

.button--next {
    right: 1.5rem;

    /* Tablet */
    @media (min-width: 426px) {
        right: 4rem;
    }

    /* Laptop */
    @media (min-width: 769px) {
        right: 12rem;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        right: 14rem;
    }
}








/* li{
    position: relative;
} */

/* SLIDER */









/* buttons */



/* slider */

/* .slider{
    width: 14rem;
    height: 24rem;
    margin: auto;
    overflow: hidden; everything outside the given with and height will not be hidden
    display: flex;
}

.slider ul{
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;

    transition: all 750ms ease;
    left: 0;
}

.slider ul li{
    height: 100%;
    float: left;
}

.slider ul li img{
    width: 14rem;
    height: 24rem;
}

.route-img{
    object-fit: cover;
    height: 100%;
}

button{
    width: 3rem;
    height: 7rem;
}

.next{
    position: absolute;
    border-radius: 0px 10px 10px 0px;
    bottom: 0;
    right: 0;
}

.prev{
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    top: 0;
    left: 0;
    margin-right: 0px;
}

main{
    display: flex;
     flex-direction: row;
} */