body{
    font-family: var(--font-family);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1.5rem;
}


/* HEADER */

    header{
        display: flex;
        flex-direction: column;
    }


/* MAIN */

    /* SLIDER */

    .slider-wrapper {
        position: relative;
      }

    .slider {
    display: flex;
    gap: 8px;
    padding: 16px;
    
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; /* Takes care of when scrolling and you let go, the scroll will automaticly move to get the moost nearby element in full screen */

    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    }

    .slider::-webkit-scrollbar {
        display: none; /* Hide scrollbar in webkit */
    }

    .item {
    position: relative;
    flex-shrink: 0; /* Takes care of the item to not shrink to fit more elements */
    width: 80vw; /* vh stands for viewport width, it's based on the width of the viewport (viewport is the size of the screen. 1vh stands for 1% and 100vh stands for 100% */
    height: 50vh; /* vh stands for viewport height, it's based on the height of the viewport (viewport is the size of the screen. 1vh stands for 1% and 100vh stands for 100% */
    
    background-color: #aed328;
    
    scroll-snap-align: center;
    }

        /* SLIDER INFO DETAILS */
        
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .slider-img {
            object-fit: cover;
            height: 100%;
            width: 80vw;
            height: 50vh;
        }

        .route-1 {
            display: flex;
            flex-direction: row;
            position: absolute;
            z-index: 1;
        }

        .route-1-info{
            display: flex;
            flex-direction: column;
        }

        h3 {
            position: absolute;
        }

        dl {
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: row;
            color: red;
        }


    /* SLIDER BUTTONS */
    
    .button {
        position: absolute;
        top: 50%;
        width: 3rem;
        height: 3rem;
        border: none;
        border-radius: 5px;
    }
    
    .button--previous {
        left: 1.5rem;
        transform: rotate(180deg);
    }
    
    .button--next {
        right: 1.5rem;
    }




    





/* li{
    position: relative;
} */

/* SLIDER */

  

  


  


  /* buttons */



/* slider */

/* .slider{
    width: 14rem;
    height: 24rem;
    margin: auto;
    overflow: hidden; everything outside the given with and height will not be hidden
    display: flex;
}

.slider ul{
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;

    transition: all 750ms ease;
    left: 0;
}

.slider ul li{
    height: 100%;
    float: left;
}

.slider ul li img{
    width: 14rem;
    height: 24rem;
}

.route-img{
    object-fit: cover;
    height: 100%;
}

button{
    width: 3rem;
    height: 7rem;
}

.next{
    position: absolute;
    border-radius: 0px 10px 10px 0px;
    bottom: 0;
    right: 0;
}

.prev{
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    top: 0;
    left: 0;
    margin-right: 0px;
}

main{
    display: flex;
     flex-direction: row;
} */

/* Responsive */

/* Tablet */
/* @media (min-width: 426px) {

    body{
        margin: 3rem;
    }

    .slider{
        width: 34rem;
    }
    
    .slider ul li img{
        width: 34rem;
        height: 22rem;
    }

    .route-img{
        width: 100%;
        height: auto;
    }

    h1{
        font-size: 5em;
        line-height: 80px;
        max-width: 36rem;
    }

    h2{
        font-size: 2.5em;
        line-height: 40px;
        max-width: 24rem;
    }

} */

/* Laptop */
/* @media (min-width: 769px) {

    body{
        margin: 4rem;
    }

    .slider{
        width: 50rem;
    }
    
    .slider ul li img{
        width: 50rem;
        height: 22rem;
    }

    .route-img{
        width: 100%;
        height: auto;
    }

    h1{
        font-size: 7em;
        line-height: 105px;
        max-width: 46rem;
    }

    h2{
        font-size: 3em;
        line-height: 50px;
        max-width: 34rem;
    }
} */