body{
    font-family: var(--font-family);
}

header{
    display: flex;
    flex-direction: column;
}

.route-1{
    display: flex;
    flex-direction: row;
}

.route-1-info{
    display: flex;
    flex-direction: column;
}

dl{
    display: flex;
    flex-direction: row;
}

