body{
    font-family: var(--font-family);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1.5rem;
}

header{
    display: flex;
    flex-direction: column;
}

.route-1{
    display: flex;
    flex-direction: row;
}

.route-1-info{
    display: flex;
    flex-direction: column;
}

dl{
    display: flex;
    flex-direction: row;
}

li{
    position: relative;
}

.route-1{
    position: absolute;
    z-index: 1;
}


/* slider */

.slider{
    width: 14rem;
    height: 24rem;
    margin: auto;
    overflow: hidden; /* everything outside the given with and height will not be hidden */
    display: flex;
}

.slider ul{
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;

    transition: all 750ms ease;
    left: 0;
}

.slider ul li{
    height: 100%;
    float: left;
}

.slider ul li img{
    width: 14rem;
    height: 24rem;
}

img{
    object-fit: cover;
    height: 100%;
}

button{
    width: 3rem;
    height: 7rem;
}

.next{
    position: absolute;
    border-radius: 0px 10px 10px 0px;
    bottom: 0;
    right: 0;
}

.prev{
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    top: 0;
    left: 0;
    margin-right: 0px;
}

main{
    display: flex;
     flex-direction: row;
}