body {
    font-family: var(--font-family);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1.5rem;

    /* Tablet */
    @media (min-width: 426px) {
        margin: 2rem;
    }

    /* Laptop */
    @media (min-width: 769px) {
        margin: 5rem;
    }
}

header {
    display: flex;
    flex-direction: column;
}

.header-index {

    & h1{
        color: var(--secundaire-text-color);
    }

    & h2{
        color: var(--secundaire-text-color);
    }
}

h1 {
    /* Tablet */
    @media (min-width: 426px) {
        font-size: 4em;
        line-height: 60px;
        max-width: 30rem;
    }

    /* Laptop */
    @media (min-width: 769px) {
        font-size: 6em;
        line-height: 90px;
        max-width: 36rem;
    }
}

h2 {
     /* Tablet */
     @media (min-width: 426px) {
        font-size: 2em;
        line-height: 30px;
        max-width: 24rem; 
    }

    /* Laptop */
    @media (min-width: 769px) {
        font-size: 3em;
        line-height: 50px;
        max-width: 30rem;
    }
}

.slider-wrapper {
    position: relative;
}

.slider {
    display: flex;
    padding: 16px;
    gap: 8px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; /* Takes care of when scrolling and you let go, the scroll will automaticly move to get the moost nearby element in full screen */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */

    /* Screen shop */
    @media (min-width: 1080px), (min-height: 1920px) {
        gap: 30px;
    }
}

.slider::-webkit-scrollbar {
    display: none;  /* Hide scrollbar in webkit */
}

.item {
    position: relative;
    flex-shrink: 0; /* Takes care of the item to not shrink to fit more elements */
    width: 80vw; /* vh stands for viewport width, it's based on the width of the viewport (viewport is the size of the screen. 1vh stands for 1% and 100vh stands for 100% */
    height: 50vh; /* vh stands for viewport height, it's based on the height of the viewport (viewport is the size of the screen. 1vh stands for 1% and 100vh stands for 100% */
    scroll-snap-align: center;
    overflow: hidden; /* everything outside the given with and height will not be hidden */

    /* Laptop */
    @media (min-width: 769px) {
        width: 60vw;
        height: 50vh;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        width: 60vw;
        height: 80vh;
    }

    /* Screen shop */
    @media (min-width: 1080px), (min-height: 1920px) {
        width: 60vw;
        height: 50vh;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider-img {
    object-fit: cover;
    height: 100%;
    width: 80vw;
    height: 50vh;

    /* Laptop */
    @media (min-width: 769px) {
        width: 60vw;
        height: 50vh;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        width: 60vw;
        height: 80vh;
    }

    /* Screen shop */
    @media (min-width: 1080px), (min-height: 1920px) {
        width: 60vw;
        height: 50vh;
    }
}

.slider-elements {
    position: absolute;
    bottom: 20%;
    left: 5%;
    display: flex;
    flex-direction: column;

    /* Tablet */
    @media (min-width: 426px) {
        display: grid;
        grid-template-areas:
        "titel img"
        "info info";
        grid-template-columns: 13rem 13rem;
        grid-template-rows: 6rem 2rem;
        bottom: 7%;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        grid-template-columns: 24rem 13rem;
        grid-template-rows: 10rem 3rem;
        bottom: 5%;
    }
}

h3 {
    margin-bottom: 0px;
   align-self: flex-start;
   color: var(--secundaire-text-color);

   /* Tablet */
   @media (min-width: 426px) {
        grid-area: titel;
        width: auto;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        grid-area: titel;
        font-size: 3rem;
        line-height: 2.8rem;
        max-width: 24rem;
    }
}

dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 11.9rem;
    color: var(--secundaire-text-color);

    /* Tablet */
    @media (min-width: 426px) {
        width: auto;
        grid-area: info;
    }
}

dd {
    margin-left: 6px;
    margin-right: 16px;
}

.imgRoute {
    display: none; /* Hides the element */
    align-self: end;

    /* Tablet */
    @media (min-width: 426px) {
        grid-area: img;
       display: block;

        & .imgRoute1{
            height: 4rem;
        }

        & .imgRoute2{
            height: 6rem;
        }

        & .imgRoute3{
            height: 6rem;
        }
    }

    /* Laptop L */
    @media (min-width: 1025px) {

        & .imgRoute1{
            height: 6rem;
        }
    
        & .imgRoute2{
            height: 10rem;
        }
    
        & .imgRoute3{
            height: 10rem;
        }
    }
}

.slide-number {
    position: absolute;
    bottom: 5%;
    text-align: middle;
    color: var(--secundaire-text-color);

    /* Tablet */
    @media (min-width: 426px) {
        top: 0;
        left: 1.5rem;
    }
}

.button {
    position: absolute;
    bottom: 10%;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5px;

    /* Tablet */
    @media (min-width: 426px) {
        top: 45%;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        width: 4.5rem;
        height: 4.5rem;
    }
}

.button--previous {
    left: 1.5rem;
    transform: rotate(180deg);

    /* Tablet */
    @media (min-width: 426px) {
        left: 4rem;
    }

    /* Laptop */
    @media (min-width: 769px) {
        left: 12rem;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        left: 14rem;
    }
}

.button--next {
    right: 1.5rem;

    /* Tablet */
    @media (min-width: 426px) {
        right: 4rem;
    }

    /* Laptop */
    @media (min-width: 769px) {
        right: 12rem;
    }

    /* Laptop L */
    @media (min-width: 1025px) {
        right: 14rem;
    }
}

.circel {
    position: absolute;
    right: 0;
    bottom: 10%;
    border-radius: 10rem;
    background-color: var(--primary-heighleight-color);
    padding: 30px;

    & p {
        font-size: 2.5rem;
        text-align: center;
        max-width: 13rem;
        line-height: 2.5rem;
    }
}

/* FOOTER */

.Qr-code{
    position: fixed;
    bottom: 5%;
    color: var(--secundaire-text-color);
    text-decoration: none;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    max-width: 45rem;
}

