

body {
    /* COLOR */
    --primary-background-color: #E9ECEE;
    --secundaire-background-color: #050A1A;
    --primary-button-color: #050A1A;
    --secundaire-button-color: #E9ECEE;
    --primary-text-color: #17161C;
    --secundaire-text-color: #DADFE3;
    --primary-heighleight-color: #AADC64;

    /* FONTS */
    --font-size-h1: 3em;
    --font-size-h2: 1.3em;
    --font-size-h3: 1.2em;
    --font-size-text-l: 24px;
    --font-size-text-m: 18px;
    --font-size-text-s: 16px;

    --font-family: "NB International Pro";

    --font-weight-text: 400;
    --font-weight-header: 500;

    --line-height-h1: 46px;
    --line-height-h2: 20px;
    --line-height-h3: 48px;
    --line-height-text: 27px;

    --max-width-text: 36rem;
    --max-width-h1: 20rem;
    --max-width-h2: 14rem;
    --max-width-h3: 20rem;

    /* BUTTONS */
    --primary-button-padding: 12px;
    --secundaire-button-padding: 18px;
    --primary-button-radius: 66px;
    --secundaire-button-radius: none;
    --primary-button-border: none;
}

/* FONTS */

    h1,
    h2,
    h3,
    p {
        font-family: var(--font-family);
    }

    h1 {
        font-size: var(--font-size-h1);
        line-height: var(--line-height-h1);
        max-width: var(--max-width-h1);
    }

    h2 {
        font-size: var(--font-size-h2);
        line-height: var(--line-height-h2);
        max-width: var(--max-width-h2);
    }

    h3 {
        font-size: var(--font-size-h3);
        line-height: var(--line-height-h3);
        max-width: var(--max-width-h3);
    }

    p {
        font-size: var(--font-size-text-m);
        font-weight: var(--font-weight-text);
        line-height: var(--line-height-text);
        max-width: var(--max-width-text);
    }

    .text-large {
        font-size: var(--font-size-text-l);
    }

    .text-mid {
        font-size: var(--font-size-text-m);
    }

    .text-small {
        font-size: var(--font-size-text-s);
    }

    .fonts-dark {
        color: var(--primary-text-color);
    }

    .fonts-light {
        color: var(--secundaire-text-color);
    }

    .highleight-text {
        color: var(--primary-heighleight-color);
    }


    /* BUTTONS */

    /* primary */
    /* button {
        padding: var(--primary-button-padding);
        border-radius: var(--primary-button-radius);
        border: var(--primary-button-border);
        background-color: var(--primary-button-color);
        color: var(--secundaire-text-color);
    } */

    /* secondaire */

    .button-light {
        background-color: var(--secundaire-button-color);
        color: var(--primary-text-color);
    }

    .input-button {
        padding: var(--secundaire-button-padding);
        border-radius: var(--secundaire-button-radius);
        border: var(--primary-button-border);
        background-color: var(--primary-button-color);
        color: var(--secundaire-text-color);
    }

    /* BACKGROUND DARK/LIGHT MODE*/
    .body-light-mode {
        background-color: var(--primary-background-color);
    }

    .body-dark-mode {
        background-color: var(--secundaire-background-color);
    }